<!DOCTYPE html>
<html>
  <head>
    <title>Whenevernote Web</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Antic+Slab|Montserrat:200,400,400i,700,700i|Scope+One" rel="stylesheet">
    <script src="https://use.fontawesome.com/69eae93e4d.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>

    <noscript>
      Whenevernote Web cannot function without Javascript. Please enable Javascript in your browser, and then reload this page.
    </noscript>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
