<!DOCTYPE html>
<html>
  <head>
    <title>Whenevernote Web</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Antic+Slab|Montserrat:300|Scope+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
